@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --bg-color: #191f36;
  --snd-bg-color: #262B40;
  --text-color: #fff;
  --main-color: #59B2F4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
span {
  color: var(--main-color);
}
ul, li {
  list-style: none;
}
#loom-companion-mv3 {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}
.nav a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}
.nav a:hover,
.nav a.active {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}
#menu_icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  color: var(--main-color);
}
.home_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.7;
}
.home_img img {
  width: 25vw;
  animation: floatimage 4s ease-in-out infinite;
  border-radius: 50%;
  border: 0.5rem solid var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}
@keyframes floatimage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.social_media ul {
  display: inline-flex;
}
.social_media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}
.social_media a:hover {
  background: var(--main-color);
  color: var(--snd-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--snd-bg-color);
}
.about_img img {
  width: 35vw;
  border-radius: 5%;
  border: 0.5rem solid var(--main-color);
}
.title {
  text-align: center;
  font-size: 4.5rem;
}
.about_content h2 {
  text-align: left;
  line-height: 1.2;
}
.about_content h3 {
  font-size: 2.6rem;
}
.about_content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
/* Education */
.education h2 {
  margin-bottom: 5rem;
}
.timeline_items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline_items::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}
.timeline_item {
  margin-bottom: 4rem;
  width: 100%;
  position: relative;
}
.timeline_item:last-child {
  margin-bottom: 0;
}
.timeline_item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline_item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline_dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 1.5rem var(--main-color),
              0 0 5rem var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline_date {
  font-size: 2rem;
  font-weight: 800;
  margin: .6rem 0 1.5rem;
}
.timeline_content {
  background-color: var(--snd-bg-color);
  border: 3px solid var(--main-color);
  padding: 3rem 5rem;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline_content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2.5rem var(--main-color);
}
.timeline_content h3 {
  font-size: 2rem;
  margin: 0 0 1rem;
  font-weight: 500;
}
.timeline_content p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 22px;
}
/* Skills */
.skills h2 {
  margin-bottom: 5rem;
}
.skills_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills_box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}
.skills_box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}
.skills_box i {
  font-size: 7rem;
  color: var(--main-color);
}
.skills_box h3 {
  font-size: 2.6rem;
}
.skills_box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
/* Portfolio */
.portfolio {
  background: var(--snd-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio_box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio_box img {
  width: 100%;
  transition: .5s ease;
  opacity: 0.7;
}
.portfolio_box:hover img {
  transform: scale(1.1);
}
.portfolio_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}
.portfolio_box:hover .portfolio_info {
  transform: translateY(0);
}
.portfolio_info h4 {
  font-size: 3rem;
}
.portfolio_info p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio_info i {
  font-size: 2rem;
}
/* Code */
.code h3 {
  font-size: 4rem;
}
/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--snd-bg-color);
}
.since {
  font-size: 1.6rem;
}
.footer a img {
  width: 5rem;
}
.footer a img:hover {
  transform: scale(1.1);
  transition: .2s ease;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .skills {
    padding: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu_icon {
    display: block;
  }
  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
  }
  .nav.active {
    display: block;
  }
  .nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home,
  .about {
    flex-direction: column;
  }
  .home_content {
    order: 2;
  }
  .home_content h3 {
    font-size: 2.6rem;
  }
  .home_content h1 {
    font-size: 5rem;
  }
  .home_img img,
  .about_img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .skills {
    margin-bottom: 3rem;
  }
  .portfolio h2,
  .skills h2 {
    margin-bottom: 3rem;
  }
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 620px) {
  .portfolio_container {
    grid-template-columns: 1fr;
  }
  .home_img img {
    width: 80vw;
    margin-top: 8rem;
  }
  .about_img img {
    width: 80vw;
    margin-top: 4rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

}